/* The book cover's font */
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni&family=PT+Serif&display=swap');

:root {
    --font-headline: 'Libre Bodoni', serif;
    --font-normal: 'PT Serif', serif;;

    --color-text: #dfe7ee;
    --color-primary: #272d2c;
    --color-secondary: #394846;

    --content-max-width: min(100%, 40em);
    --content-distance: 1.5rem;

    font-size: 80%;
}

@media screen and (min-width: 30rem) {
    :root {
        font-size: 100%;
    }
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    background-color: var(--color-primary);
    color: var(--color-text);

    font-family: var(--font-normal);

    line-height: 1.5;
}

img,
.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

a {
    color: var(--color-text);
    text-decoration: none;
}

#nav {
    position: absolute;
    padding: 1.2rem;
    width: 100%;

    font-size: 1.1rem;
    font-family: var(--font-headline);
    line-height: 1.5rem;

    z-index: 100;
}

#nav > ul {
    display: flex;
    margin-inline: auto;

    width: fit-content;
}

#nav > ul > li:not(:first-child) {
    border-left: 0.1rem var(--color-text) solid;
    padding-left: 1.2rem;
    margin-left: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-headline);
    font-weight: bold;
}

.button {
    font-size: 1.25rem;
    margin-inline: auto;
    border: none;
    border-radius: .5em;
    padding: .5em .75em;
    font-family: var(--font-headline);
    background-color: var(--color-secondary);
    transition: transform .05s;
}

.button:hover,
.button:focus-within {
    filter: brightness(0.85);
}

.button:active {
    filter: brightness(0.6);
    transform: scale(0.95);
}

#footer {
    background-color: var(--color-secondary);
    width: 100%;
    padding: 2rem 3rem;
    text-align: center;
}